
h1, h2, h3 {
    font-family : 'Exo 2', sans-serif;
}

body {
    background-attachment : fixed;
    background-image      : url("./img/bg2.jpg");
    background-repeat     : no-repeat;
    background-size       : cover;
    font-family           : 'Lato', sans-serif;
    text-align            : center;
}

ul {
    list-style-position : inside;
}

div {
    color : #fff;
}

p {
    color : #fff;
}

#butHolder button {
    width         : 150px;
    margin-bottom : 10px;
    padding       : 10px;

    cursor        : pointer;
    background    : transparent;
    font-family   : 'Exo 2', sans-serif;
    font-size     : 14px;
    font-weight   : bold;
    color         : #fff;
    border        : 1px solid #fff;

    transition    : 0.3s all;
}

#butHolder button:hover {
    background : #fff;
    color      : #333;
}

#elementsContainer {
    text-align : center;
}

#elementsContainer td {
    height      : 120px;
    width       : 150px;
    padding     : 10px;

    font-weight : bold;
    color       : #222;
    text-align  : center;
    border      : 1px solid #222;

    transition  : 0.3s all;
}

#elementsContainer td label {
    color : #222;
}

#elementsContainer td label {
    transition : 0.3s all;
}

#elementsContainer td:hover {
    background : #222;
    color      : #fff;
}

#elementsContainer td:hover label {
    color : #fff;
}

.pull-left {
    float : left;
}

.pull-right {
    float : right;
}